.CardBox {
  height: 160px;
  width: 130px;
  margin: 5px 2px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pokemonSprite {
  width: 100px;
  height: 100px;
  align-self: center;
}

.descBox {
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemonName {
  padding: 5px;
  font-weight: bold;
}

a:-webkit-any-link {
  color: red;
  text-decoration: none;
}

.types {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.type1 {
  width: 20px;
}

.type2 {
  width: 20px;
}
